<p><%== t ".publish_helper_text" %>
<p><%== t ".access_reminder", link: link_to(t("myself", scope: "decidim.ideas.ideas.filters"), decidim_ideas.ideas_path(filter: { author: "myself", state: "" })) %></p>
