<div class="callout secondary mb-sm">
  <p>
    <%= t("create.success_html",
          scope: "decidim.ideas.idea_votes",
          title: translated_attribute(current_idea.title)) %>
  </p>
</div>
<h2 class="section-heading"><%= t("finished", scope: "layouts.decidim.idea_signature_creation_header") %></h2>

<%= render partial: "wizard_steps" %>

<div class="card">
  <br>
  <div class="column actions">
    <%= link_to t(".back_to_idea"), idea_path(current_idea), class: "button white-button expanded" %>
  </div>
</div>
