<div class="row collapse">
  <h1 id="ideas-count" class="title-action__title section-heading">
    <%= ideas.total_count %> Ideen
  </h1>
</div>


<a class="title-action__action button small button-primary" href="<%= ideas_path %>"><%= icon('chevron-left', class: 'inline') %> Praxisbeispiele</a>

<p class="margin-top-2">
  Diese Ideen wurden in einer ersten Beteiligungsphase vom 01.11.2022 - 01.03.2023 gesammelt. Sie können weiterhin kommentiert werden.
</p>
