
  <% if idea.author.deleted? %>

    <div class="author author--inline">
      <span class="author__avatar author__avatar--small">
        <%= image_tag present(idea.author).avatar_url, alt: t("decidim.author.avatar", name: decidim_sanitize(idea.author_name)) %>
      </span>
      <span class="author__name">
        <span class="label label--small label--basic">
          <%= t(".deleted") %>
        </span>
      </span>
    </div>
  <% else %>
    <% presented_author = present(idea.author) %>
    <%= cell "decidim/author", presented_author, from: idea, has_actions: true %>
  <% end %>

