<ul class="tags tags--idea">
  <% if controller.action_name == 'index' %>
    <li><%= link_to translated_attribute(resource.scope_name), ideas_path(filter: { with_any_scope: [resource.scope&.id] }) %></li>
   <% elsif controller.action_name == 'archived' %>
    <li><%= link_to translated_attribute(resource.scope_name), '#' %></li>
  <% end %>
  <% if resource.area %>
    <li><%= link_to translated_attribute(resource.area_name), ideas_path(filter: { area_id: [resource.area.id] }) %></li>
  <% end %>
</ul>
